# Python virtual environments
/venv/
/.venv/
/env/
/.env/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints/

# pytest
.pytest_cache/
.coverage
htmlcov/